<!--
<div>se ha producido un error: {{message}}</div>
-->
<!--
  <app-grid/>
-->
<!--
<app-counter/>
-->
<!--
<app-timer/>
-->
<!--
<app-layout></app-layout>
-->
<!--
<div>
  <app-acordeon title="acordeon1">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur et placeat tempora fugiat, dolore impedit!</p>
  </app-acordeon>

  <app-acordeon title="acordeon2">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur et placeat tempora fugiat, dolore impedit!</p>
  </app-acordeon>
</div>
-->
<app-modal #modal></app-modal>
<button (click)="handlerClick($event)">Open dialog</button>
